<html>
{% load staticfiles %}

{% block head %}
<head>
    <h3>  Daily Mood Log </h3>

    {% block stylesheets %}
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" type="text/css" media="screen" >
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" media="screen" >

    {% endblock %}

    {% block javascript %}
        <script src="{% static 'bootstrap-3.3.5-dist/js/jquery-1.11.0.min.js' %}" type="text/javascript"> </script>
        <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}" type="text/javascript"></script>

    {% endblock %}


{% block jumbo %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron other-color">
                <div class="text-center">
                    <h1> {% block head_text %} Daily Mood Log {% endblock %} </h1>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

</head>
{% endblock %}

{% block body %}
<body>




        <div class="container">


            Today is {% now "m/d/Y" %}


            {% block content %}

            <form action = "" method="POST" > {% csrf_token %}

                {{ form }}

            <a href ="{% url 'emotion-before' %}" class="button" type="submit" name="new-log"> Start here </a>

            <a href="{% url 'edit_thought' %}" class="button"> Next, write down your negative thoughts and identify the associated distortions</a>
            <a href="{% url 'emotion-after' %}" class="button"> Rate how you feel after identifying the distortions </a>
            <a href="{% url 'thought-list' %}" class="button" > Write your positive thoughts </a>
            <a href="{% url 'login' %}" class="button"> Register new user </a>

        {% endblock %}

        </div>

</body>
{% endblock %}

</html>
