<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{% load static from staticfiles %}

{% load render_table from django_tables2 %}

{% block head %}
<head lang="en">
    <meta charset="UTF-8">
    <h1> {% block head_text %} Emotions {% endblock %} </h1>

    {% block stylesheets %}{{ block.super }}{% endblock %}

    {% block javascript %}

    {{ block.super }}

    <script src="{% static 'bootstrap-3.3.5-dist/js/emotion_jQuery.js' %}" type="text/javascript"></script>

    {% endblock %}

    {% block jumbo %} {{ block.super }} {% endblock %}

</head>
{% endblock %}


<body>



     {% block content %}






    <form action="/dailymoodlog/emotion-before/" method="post">{% csrf_token %}



          {% render_table table %}



     <button type="submit" name="Submit"> Submit Emotion List </button>


    </form>

     {% endblock %}




</body>


</html>