<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{#% load bootstrap_tags %#}

<head lang="en">
    <meta charset="UTF-8">


    <h1> {% block head_text %} Emotions {% endblock %} </h1>
</head>


    {% block javascript %}

    $(document).ready(function(){
        var oTable = $('.datatable').dataTable({
        "processing":true,
        "serverSide":true,
        "draw": 1,
        "ajax": {% url 'EmotionNotEditableDatatableView' %}
    });
});
    {% endblock %}

<body>

     {% block content %}


    <form action="/emotion/" method="post">{% csrf_token %}


        <button type="submit" name="Submit"> Submit Emotion List </button>

        <a href="{% url 'edit_thought' %}" class="button"> Write down some positive thoughts </a>

    </form>

     {% endblock %}




</body>
</html>