<!DOCTYPE html>
<html>

{% extends 'base.html' %}

{% load render_table from django_tables2 %}


<head lang="en">
    <meta charset="UTF-8">
    <h1> {% block head_text %} Emotions {% endblock %} </h1>
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />


</head>

<body>

     {% block content %}

    <form action="/dailymoodlog/emotion-before/" method="post">{% csrf_token %}



          {% render_table table %}



    <a href="{% url 'edit_thought' %}" class="button"> Next, write down your negative thoughts </a>

    </form>

     {% endblock %}




</body>
</html>