<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    {% extends 'base.html' %}

    <h1> {% block head_text %} Daily Mood Login {% endblock %} </h1>
</head>

<body>

<div class="container">

        {% block content %}

        <form action="/base/" method="post">{% csrf_token %}

        {{ form }}

     <button type="submit" name="Submit"> Register New User </button>

        </form>

        {% endblock %}

</div>

</body>
</html>