<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    {% extends 'base.html' %}


    <!h1> {#% block head_text %#} Great Job! {#% endblock %#} <!/h1>

        <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron green">
                <div class="text-center">
                    <h1> {% block head_text %} Keep up the good work! See you tomorrow! {% endblock %} </h1>
                    </div>
                </div>
            </div>
        </div>
</head>
<body>



<a href="{% url 'base' %}" class="button"> Go back to the beginning </a>

</body>
</html>